body{
    color: black;
    overflow-x:hidden;
}
.carousel-inner img{
    width: 100%;
}
.carousel-inner{
    height: 577px;
}
#c{
    width: 50px;
    alignment: right;
    background-color: black;
}