body{
    overflow-x:hidden;
}
.details p{
    font-size: 18px;
    font-style: normal;
    text-decoration: underline;
    color: #77abb7;
}
.details{
    margin-bottom: 5px;
}
.gamesec .thumbnail{
    height: 100%;
}
.thumbnail .btn:hover{
    color: #b9c0d5;
}
