.content{
    min-height: 1000px;
    background-color: #1d3e53;
    overflow: auto;
}
#form{
    width: 20%;
    min-width: 240px;
    alignment: center;
    margin-top: 16vw;
    border-radius: 6px;
    padding: 15px;
    padding-top: 5px;
    color: #b9c0d5;
    background: rgba(37,75,98,0.8);
}
#form *{
    padding: 5px;
    font-family: "Verdana";
}
#form .btn{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    background-color: #476d7c;
    color: #b9c0d5;
}
#form .btn:hover{
    background-color:#1d3e53;
}
