.select2-container{
    background-color: #2b2726;
}
.navbar-header{
    padding-left: 20px;
}
.navbar-right{
    padding-right: 20px;
}
#navigator{
    /*filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;*/
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family:"Arial";
    font-size: 16px;
}
#navigator li a{
    color: #b9c0d5;
    font-size: 17px;
    font-weight: 500;
}
#navigator li a:hover{
    color: #77abb7;
}
#current_pg>a{
    color: #77abb7;
    background-color: #2b2726;
}
#dropdown_list{
    padding-bottom: 10px;
    background-color: #2b2726;
    border: none;
}
#account:focus, #account:hover, #account:active{
    background-color: #2b2726;
}
#account{
    margin-right: 10px;
}
#dropdown_list>li{
    background-color: #2b2726;
    color: #b9c0d5;
    padding-top: 5px;
}
.dropdown>#dropdown_list>li>a:hover{
    color: #77abb7;
    background-color: #2b2726;
}
.dropdown-toggle{
    padding: 0px;
}
.dropdown{
    padding: 0px;
}
.btn{
    width: 120px;
    background-color: #476d7c;
    color: #b9c0d5;
}
.btn:hover{
    background-color:#254b62;
}
body{
    color: #1d3e53;
    overflow-x:hidden;
}