<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'games/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Game Store</title>
</head>
<body>
    <h1>Game Store Testing</h1>
    <p>{{user.is_authenticated}}</p>
    <p>{{user.username}}</p>

    {% if user.is_authenticated %}
    <form action=" {% url 'games:logout_user' %}">
        <button type="submit" class="btn btn-success">Log Out</button>
    </form>
    {% endif %}

    {% block content %}{% endblock content %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'games/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>