<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/gaming_layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>2333</title>
</head>
<body>
    <div class="row">

        <div class="col-xs-8 col-sm-4 col-lg-8" style="background-color:beige;">
            <!-- header to gaming -->
            <div class="row">
                <div class="col-xs-9 col-sm-6 col-lg-9">
                    <h1>Game Name</h1>
                </div>
                <div class="col-xs-3 col-sm-6 col-lg-3">
                    <!-- TODO: add price to the button -->
                    <button class="btn btn-danger navbar-btn">Buy $</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-9 col-sm-6 col-lg-9" style="background-color: aliceblue">
                    <iframe class="game">

                    </iframe>
                    <div class="row">
                        <div class="col-xs-9 col-sm-6 col-lg-9">
                            <button class="btn btn-danger navbar-btn">SAVE</button>
                            <button class="btn btn-danger navbar-btn">RELOAD</button>
                        </div>
                        <div class="col-xs-3 col-sm-6 col-lg-3">
                            <p><a href="#">SHARE</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-6 col-lg-3" style="background-color: aquamarine">
                    <h2>Introduction</h2>
                    <!-- TODO: add specific game introduction -->
                    <p>...</p>
                    <h2>Highest Scores</h2>
                    <ol>
                        <li>100</li>
                        <li>90</li>
                        <li>90</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

</body>
</html>