{% extends "games/parent.html" %}

{% block prerequisites %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/gaming_layout.css" %}">
{% endblock %}

{% block content %}
    <div class="col-xs-2 col-sm-4 col-lg-2" style="background-color:lavender;">
    </div>
    <div class="col-xs-8 col-sm-4 col-lg-8" style="background-color:beige;">
        <!-- header to gaming -->
        <div class="row">
            <div class="col-xs-9 col-sm-6 col-lg-9">
                <h1>{{game.name}}</h1>
            </div>
            <div class="col-xs-3 col-sm-6 col-lg-3">
                <button class="btn btn-danger navbar-btn">Buy ${{game.price}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9 col-sm-6 col-lg-9" style="background-color: aliceblue">
                <iframe class="game" src="{{game.url_link}}">

                </iframe>
                <div class="row">
                    <div class="col-xs-9 col-sm-6 col-lg-9">
                        <button class="btn btn-danger navbar-btn">SAVE</button>
                        <button class="btn btn-danger navbar-btn">RELOAD</button>
                    </div>
                    <div class="col-xs-3 col-sm-6 col-lg-3">
                        <p><a href="#">SHARE</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-6 col-lg-3" style="background-color: aquamarine">
                <h2>Introduction</h2>
                <p>{{game.description}}</p>
                <h2>Highest Scores</h2>
                <ol>
                    <li>100</li>
                    <li>90</li>
                    <li>90</li>
                </ol>
            </div>
        </div>
    </div>
    <script src="code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
         
    </script>
{% endblock %}