{% extends "games/parent.html" %}

{% block prerequisites %}
    {% load static %}
{% endblock %}

{% block content %}
    <div class="col-xs-2 col-sm-4 col-lg-2" style="background-color:lavender;">
    </div>
    <div class="col-xs-8 col-sm-4 col-lg-8" style="background-color:beige;">

        <div class="row">
            <!-- Below is one section of a game in inventory-->
            <div class="col-xs-4 col-sm-4 col-lg-4">
                <div class="thumbnail">
                    <!-- TODO: add individual info -->
                    <img src={% static "images/game1.jpg" %} alt="Lights" style="width:100%">
                    <a href="#">
                        <div class="caption">
                            <h3>Name</h3>
                            <p>Description</p>
                            <p>Price</p>
                            <p>labels</p>
                        </div>
                    </a>
                    <p><a href="#">DETAILS</a></p>
                </div>
            </div>

            {% for game in my_game_list %}
            <div class="col-xs-4 col-sm-4 col-lg-4">
                <div class="thumbnail">
                    <!-- TODO: add individual info -->
                    <img src={% static "images/game1.jpg" %} alt="Lights" style="width:100%">
                    <a href="#">
                        <div class="caption">
                            <h3>{{game.name}}</h3>
                            <p>{{ game.description | truncatechars:30 }}</p>
                            <p>{{game.price}} €</p>
                            <p>{{game.label}}</p>
                        </div>
                    </a>
                    <p><a href="#">DETAILS</a></p>
                </div>
            </div>
            {% endfor %}

            <form action="{% url 'games:newgame_page' %}">
                <button class="btn btn-danger navbar-btn">ADD A GAME</button>
            </form>
        </div>

    </div>
{% endblock %}