{% extends "games/parent.html" %}

{% block prerequisites %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/playersgames_layout.css" %}">
    <link rel="stylesheet" href="{% static "css/inventory_layout.css" %}">
{% endblock %}

{% block content %}
<div class="row" style="background-color: #1d3e53;margin-right: 0px;margin-left: 0px; min-height: 100vmax">
    <div class="col-xs-0 col-sm-2 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">

        <h2>INVENTORY</h2>
        <div class="row">

            <!-- Below is one section of a game in inventory-->
            <div class="col-xs-12 col-sm-4 col-lg-4 gamesec">
                <div class="thumbnail">
                    <!-- TODO: add individual info -->
                    <img src={% static "images/game1.jpg" %} alt="Lights" style="width:100%">
                    <a href="#" class="sec">
                        <div class="cap">
                            <h3>Name</h3>
                            <p>Description</p>
                            <p>Price</p>
                            <div class="labels">
                                <p>labels</p>
                            </div>
                            <div class="details">
                                <p><a href="#" class="text-info">DETAILS</a></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            {% for game in my_game_list %}
            <div class="col-xs-12 col-sm-4 col-lg-4 gamesec">
                <div class="thumbnail">
                    <!-- TODO: add individual info -->
                    <img src={% static "images/game1.jpg" %} alt="Lights" style="width:100%">
                    <a href="{% url 'games:show_modify_game' game.id %}" class="sec">
                        <div class="cap">
                            <h3>{{game.name}}</h3>
                            <p>{{ game.description | truncatechars:30 }}</p>
                            <p>{{game.price}} €</p>
                            <div class="labels">
                                <p>{{game.label}}</p>
                            </div>
                            <div class="details">
                                <p><a href="{% url 'games:game_purchase_history' game.id %}" class="text-info">DETAILS</a></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

            <div class="col-xs-12 col-sm-4 col-lg-4 gamesec">
                <div class="thumbnail add">
                    <p style="margin-bottom: 8.2vw"></p>
                    <form action="{% url 'games:newgame_page' %}" style="width: 50%; margin-left: auto; margin-right: auto">
                        <button class="btn" style="height: 130px; width: 100%; font-size: 18px;
                        overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">ADD A GAME</button>
                    </form>
                    <p style="margin-bottom: 8.1vw"></p>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}