{% extends "games/parent.html" %}

{% block prerequisites %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/login_layout.css" %}">
    <link rel="stylesheet" href="{% static "css/newgame_layout.css" %}">
    <link rel="stylesheet" href="{% static "css/modifygame_layout.css" %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div id="form" style="margin-left: auto; margin-right: auto">
            <form class="container" action="{% url 'games:modify_game' id %}" method="post">

                <div class="text-danger" role="alert">
                    {{ error }}
                </div>

                {% csrf_token %}


                {{ form }}
                <div class="labels">
                    {% if label == 'adventure' %}
                        <label class="radio-inline" style="margin-left: 10px">
                            <input type="radio" name="label" value="adventure" checked>Adventure
                        </label>
                    {% else %}
                        <label class="radio-inline" style="margin-left: 10px">
                            <input type="radio" name="label" value="adventure">Adventure
                        </label>
                    {% endif %}
                    {% if label == 'action' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="action" checked>Action
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="action">Action
                        </label>
                    {% endif %}
                    {% if label == 'combat' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="combat" checked>Combat
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="combat">Combat
                        </label>
                    {% endif %}
                    {% if label == 'puzzle' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="puzzle" checked>Puzzle
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="puzzle">Puzzle
                        </label>
                    {% endif %}
                    {% if label == 'racing' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="racing" checked>Racing
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="racing">Racing
                        </label>
                    {% endif %}
                    {% if label == 'sports' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="sports" checked>Sports
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="sports">Sports
                        </label>
                    {% endif %}
                    {% if label == 'strategy' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="strategy" checked>Strategy
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="strategy">Strategy
                        </label>
                    {% endif %}
                    {% if label == 'checked' %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="other" checked>Other
                        </label>
                    {% else %}
                        <label class="radio-inline">
                            <input type="radio" name="label" value="other">Other
                        </label>
                    {% endif %}
                </div>

                <button type="submit" class="btn ">Save</button>
            </form>
            <div class="container">
                <a id="delete" href="{% url 'games:delete_game' id %}"
               data-confirm="Are you sure you want to load this URL?"><button class="btn">Delete</button></a>
            </div>
        </div>
    </div>
{% endblock content %}