{% extends "games/base.html" %}

{% block content %}

<form class="container" action="{% url 'games:create_new_game' %}" method="post">

    <div class="text-danger" role="alert">
        {{ error }}
    </div>

    {% csrf_token %}
    {{ form }}
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="adventure" name="label" checked>
            <label class="form-check-label" for="inlineCheckbox1">Adventure</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="puzzle" name="label">
            <label class="form-check-label" for="inlineCheckbox2">Puzzle</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox3" value="action" name="label">
            <label class="form-check-label" for="inlineCheckbox3">Action</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}