{% extends "games/parent.html" %}

{% block content %}

<form class="container" action="{% url 'games:create_new_game' %}" method="post">

    <div class="text-danger" role="alert">
        {{ error }}
    </div>

    {% csrf_token %}
    {{ form }}
    <div>
        <label class="radio-inline">
            <input type="radio" name="label" value="adventure">Adventure
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="action">Action
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="combat">Combat
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="puzzle">Puzzle
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="racing">Racing
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="sports">Sports
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="strategy">Strategy
        </label>
        <label class="radio-inline">
            <input type="radio" name="label" value="other">Other
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}