<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block prerequisites %}

    {% endblock %}
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>2333</title>
</head>

<body>
    <div class="select2-container">
        <!-- navigate bar on top -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">2333</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
                            <span class="glyphicon glyphicon-chevron-down"></span></a>

                        <!-- TODO: change the contents based on current status of the visitor-->
                        <ul class="dropdown-menu">
                            <li><button class="btn btn-danger navbar-btn">Log In</button></li>
                            <li><a href="#">Create New Account</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>