<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block prerequisites %}

    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/parent_layout.css" %}">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>2333</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
</head>

<body>
    <div class="select2-container">
        <!-- navigate bar on top -->
        <nav class="navbar navbar-default" id="navigator">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">╭( ′• o •′ )╭☞  2333</a>
                </div>

                <ul class="nav navbar-nav" style="margin-bottom: 0px">
                    <li class="active" id="current_pg"><a href="{% url 'games:index' %}">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-right: 0px; margin-top:0px; margin-bottom: 0px;">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account">MY ACCOUNT
                            <span class="glyphicon glyphicon-chevron-down"></span></a>

                        <ul class="dropdown-menu" id="dropdown_list">
                            {% if user.is_authenticated %}
                                {% if user.developer %}
                                    <li><a href=" {% url 'games:inventory' %}"><button type="submit" class="btn">Inventory</button></a></li>
                                {% elif user.player %}
                                    <li><a href=" {% url 'games:player_game' %}"><button type="submit" class="btn">Bought Game</button></a></li>
                                {% endif %}
                                <li><a href=" {% url 'games:logout_user' %}"><button type="submit" class="btn">Log Out</button></a></li>
                            {% else %}
                                <li><a href=" {% url 'games:login' %}"><button class="btn">Log In</button></a></li>
                                <li><a href=" {% url 'social:begin' 'google-oauth2' %}"><button class="btn">Google Login</button></a></li>
                                <li><a href=" {% url 'games:signup' %}">Create New Account</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>



    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'games/main.js' %}"></script>
    {% block javascript %}

    {% endblock %}

    {% block content %}{% endblock %}

</body>
</html>