<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block prerequisites %}

    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/parent_layout.css" %}">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>2333</title>
</head>

<body>
    <div class="select2-container">
        <!-- navigate bar on top -->
        <nav class="navbar navbar-default" id="navigator">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">2333</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active" id="current_pg"><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
                            <span class="glyphicon glyphicon-chevron-down"></span></a>

                        <ul class="dropdown-menu" id="dropdown_list">
                            {% if user.is_authenticated %}
                                <li><a href=" {% url 'games:logout_user' %}"><button type="submit" class="btn btn-success">Log Out</button></a></li>
                            {% else %}
                                <li><a href=" {% url 'games:login' %}"><button class="btn btn-danger navbar-btn">Log In</button></a></li>
                                <li><a href=" {% url 'games:signup' %}">Create New Account</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
    </div>


</body>
</html>