{% extends "games/parent.html" %}

{% block prerequisites %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/playersgames_layout.css" %}">
{% endblock %}

{% block content %}
<div class="row" style="background-color: #1d3e53">
    <div class="col-xs-2 col-sm-2 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8" >

        <h2>BOUGHT GAMES</h2>
        <div class="row">
            <!-- Below is one section of a game in player's bought games-->
            <div class="col-xs-12 col-sm-6 col-lg-4 gamesec">
                <div class="thumbnail">
                    <a href="#" target="_blank" class="sec">
                        <img src="{% static "images/game1.jpg" %}" alt="Lights" style="width:100%">
                        <div class="cap">
                            <h3>Name</h3>
                            <p>Description</p>
                            <div class="labels">
                                <p>labels</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            {% for game in my_bought_game_list %}
            <div class="col-xs-12 col-sm-6 col-lg-4 gamesec">
                <div class="thumbnail">
                    <img src={% static "images/game1.jpg" %} alt="Lights" style="width:100%">
                    <a href="#" class="sec">
                        <div class="cap">
                            <h3>{{game.game_info.name}}</h3>
                            <p>{{ game.game_info.description | truncatechars:30 }}</p>
                            <p>{{game.price}} €</p>
                            <p>{{game.bought_time | date:"d M Y" }} </p>
                            <p>{{game.best_score }} </p>
                            <div class="labels">
                                <p>{{game.game_info.label}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}