{% extends "games/parent.html" %}

{% block prerequisites %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/playersgames_layout.css" %}">
{% endblock %}

{% block content %}
<div class="row" style="background-color: #1d3e53; margin-left: 0px; margin-right: 0px; min-height: 100vmax;">
    <div class="col-xs-2 col-sm-2 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8" >
    {% if user.player %}
        <h2>MY BALANCE</h2>
        <div class="balance">
            <p>{{ user.player.balance }} €</p>
        </div>
    {% endif %}

        <h2>BOUGHT GAMES</h2>
        <div class="row">
            <!-- Below is one section of a game in player's bought games-->
            {% if my_bought_game_list%}
                {% for boughtgame in my_bought_game_list %}
                <div class="col-xs-12 col-sm-6 col-lg-4 gamesec">
                    <div class="thumbnail">
                        {% if boughtgame.game_info.game_profile_picture %}
                            <img src="{{boughtgame.game_info.game_profile_picture}}" alt="Lights" style="width:100%; height: 19vh;">
                        {% else %}
                            <img src="{% static 'images/game2.jpg' %}" alt="Lights" style="width:100%; height: 19vh;">
                        {% endif %}
                        <a href="{% url 'games:game_detail' boughtgame.game_info.id %}" class="sec">
                            <div class="cap">
                                <h3>{{boughtgame.game_info.name}}</h3>
                                <p>{{ boughtgame.game_info.description | truncatechars:30 }}</p>
                                <p>{{boughtgame.price}} €</p>
                                <p>{{boughtgame.bought_time | date:"d M Y" }} </p>
                                <p>{{boughtgame.best_score }} </p>
                                <div class="labels">
                                    <p>{{boughtgame.game_info.label}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2>Buy your first game!</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}